<% content_for(:page_header) do %>
  <h1>
    Restaurant owners
    <%= link_to new_administrator_restaurant_owner_path, class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Aggiungi
    <% end %>
  </h1>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Password confirmation</th>
            <th class="action-column"></th>
        <th class="action-column"></th>
        <th class="action-column"></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @restaurant_owners) do |restaurant_owner| %>
            <td><%= restaurant_owner.name %></td>
            <td><%= restaurant_owner.surname %></td>
            <td><%= restaurant_owner.email %></td>
            <td><%= restaurant_owner.password %></td>
            <td><%= restaurant_owner.password_confirmation %></td>
            <td><%= link_to 'Show', administrator_restaurant_owner_path(restaurant_owner) %></td>
        <td><%= link_to 'Edit', edit_administrator_restaurant_owner_path(restaurant_owner) %></td>
        <td><%= link_to 'Destroy', administrator_restaurant_owner_path(restaurant_owner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
