<% content_for(:page_header) do %>
<h1>
  <%= link_to administrator_users_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <%= link_to edit_administrator_user_path(@user), class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
  <% end %>
  <h1>Show user</h1>
</h1>
<% end %>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>

  <dt>Surname:</dt>
  <dd><%= @user.surname %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

  <dt>Password:</dt>
  <dd><%= @user.password %></dd>

  <dt>Password confirmation:</dt>
  <dd><%= @user.password_confirmation %></dd>

</dl>
