<% content_for(:page_header) do %>
  <h1>
    Administrator_restaurants_photos
    <%= link_to new_administrator_restaurants_photo_path, class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Aggiungi
    <% end %>
  </h1>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Image</th>
            <th class="action-column"></th>
        <th class="action-column"></th>
        <th class="action-column"></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @administrator_restaurants_photos) do |administrator_restaurants_photo| %>
            <td><%= administrator_restaurants_photo.image %></td>
            <td><%= link_to 'Show', administrator_restaurants_photo_path(administrator_restaurants_photo) %></td>
        <td><%= link_to 'Edit', edit_administrator_restaurants_photo_path(administrator_restaurants_photo) %></td>
        <td><%= link_to 'Destroy', administrator_restaurants_photo_path(administrator_restaurants_photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
