<% content_for(:page_header) do %>
<h1>
  <%= link_to administrator_restaurants_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <%= link_to edit_administrator_restaurant_path(@restaurant), class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
  <% end %>
  <h1>Show restaurant</h1>
</h1>
<% end %>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @restaurant.name %></dd>

  <dt>Description:</dt>
  <dd><%= @restaurant.description %></dd>

  <dt>Email:</dt>
  <dd><%= @restaurant.email %></dd>

  <dt>Phone:</dt>
  <dd><%= @restaurant.phone %></dd>

  <dt>Street:</dt>
  <dd><%= @restaurant.street %></dd>

  <dt>City:</dt>
  <dd><%= @restaurant.city %></dd>

  <dt>Zip code:</dt>
  <dd><%= @restaurant.zip_code %></dd>

  <dt>Province:</dt>
  <dd><%= @restaurant.province %></dd>

  <dt>Restaurant owner:</dt>
  <dd><%= @restaurant.restaurant_owner_id %></dd>

</dl>

<%= link_to new_administrator_restaurants_photo_path(@restaurant), class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Aggiungi
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Image</th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @restaurant.photos) do |photo| %>
        <td><%= photo.image %></td>
        <td><%= link_to 'Show', administrator_restaurants_photo_path(@restaurant, photo) %></td>
        <td><%= link_to 'Edit', edit_administrator_restaurants_photo_path(@restaurant, photo) %></td>
        <td><%= link_to 'Destroy', administrator_restaurants_photo_path(@restaurant, photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tbody>
  </table>
</div>